{% extends 'base/base.html' %}
{% load i18n static %}
{% block stylized_body %}<body style="height: auto !important;">{% endblock stylized_body %}
{% block body %}
        <div class="game-page">
            <p class="subtitle-quiz">Quiz</p>
            <p class="subtitle-page">Dev Pro</p>

            <div class="container">
                <div id="loader"></div>
                <div id="game" class="justify-center flex-column animate-bottom hidden">
                    <div class="game-result">
                        <h2>Você está no</h2>
                        <h2 class="status-player">{{ jogador.classificacao }}º</h2>
                        <h2>lugar!</h2>
                    </div>
                    <br />
                    <h3>Ranking</h3>
                    <div class="choice-container">
                        <p class="choice-prefix">1º</p>
                        <p class="choice-text">Paula Fernanda Chaves</p>
                    </div>
                    <div class="choice-container">
                        <p class="choice-prefix">2º</p>
                        <p class="choice-text">João Pedro Souza</p>
                    </div>
                    <div class="choice-container">
                        <p class="choice-prefix">3º</p>
                        <p class="choice-text">Felipe Gomes da Silva</p>
                    </div>
                    <div class="choice-container">
                        <p class="choice-prefix">4º</p>
                        <p class="choice-text">Isa Cristina Lopes</p>
                    </div>  
                    <div class="choice-container">
                        <p class="choice-prefix">5º</p>
                        <p class="choice-text">Pedro Henrique Lima</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}
{% block scripts %}<script src="{% static 'base/js/script.js' %}"></script>{% endblock scripts %}