{% extends 'base/base.html' %}
{% block body %}
        <div class="login-page">
            <p class="subtitle-quiz">Quiz</p>
            <p class="subtitle-page">Dev Pro</p>
            <div class="form">
                <form class="login-form" action="game.html">
                <input type="text" placeholder="NOME"/>
                <input type="password" placeholder="EMAIL"/>
                <button>Entrar</button>
                </form>
            </div>
        </div>
{% endblock body %}